#                                Case Study on Testing of Hypothesis

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [3]:
df=pd.read_csv('Sales_add.csv')
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
df.rename(columns={"Sales_before_digital_add(in $)":"sales_before"},inplace=True)
df.rename(columns={"Sales_After_digital_add(in $)":"sales_after"},inplace=True)

# -The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

Hypothesis testing:

Null hypothesis,Ho :There is an increase in sales after stepping into digital marketing.

Alternate hypothesis,Ha :there is no increase in sales after stepping into digital marketing.

alpha: 0.05

In [5]:
df[['sales_before','sales_after']].describe()

        sales_before    sales_after
count      22.000000      22.000000
mean   149239.954545  231123.727273
std     14844.042921   25556.777061
min    130263.000000  187305.000000
25%    138087.750000  214960.750000
50%    147444.000000  229986.500000
75%    157627.500000  250909.000000
max    178939.000000  276279.000000

In [6]:
ttest,pval = stats.ttest_rel(df['sales_before'], df['sales_after'])
print(pval)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

6.336667004575778e-11
reject null hypothesis

# -The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [16]:
ct=pd.crosstab(df["Region"],df["Manager"],margins=True)
ct

Manager     Manager - A  Manager - B  Manager - C  All
Region
Region - A            4            3            3   10
Region - B            4            1            2    7
Region - C            1            3            1    5
All                   9            7            6   22

In [47]:
obs = np.array([ct.iloc[0][0:3].values, ct.iloc[1][0:3].values, ct.iloc[2][0:3].values])
obs

array([[4, 3, 3],
       [4, 1, 2],
       [1, 3, 1]], dtype=int64)

In [48]:
stats.chi2_contingency(obs)[0:3]

(3.050566893424036, 0.5493991051158094, 4)

Since the p-value is high,
we conclude that Region is independent of Manager.